body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.dashed-line {
  stroke: black;
  stroke-dasharray: 4,4;
}

.label {
  font-size: 36px;
}

.graph-title {
  font-size: 64px;
}

.legend {
  font-size: 24px;
}

$page-width: 9933px;
$page-height: 7016px;

@mixin quarter-box {
  height: $page-height / 2.8;
  width: $page-width / 2.8;
  position: absolute;
}

.container {
  height: $page-height;
  position: relative;
  width: $page-width;
  overflow: hidden;
  // background-color: #fff6e8;
}

.graphs {
  bottom: 0%;
  height: $page-height * .85;
  position: absolute;
  width: $page-width;
}

.graph {
  display: inline-block;
  height: 25%;
  // position: absolute;
  width: 25%;

  &.population {
    left: 6%;
    top: 0%;
    // transform: translate(-50%, 0%);
  }

  &.gdp-per-capita {
    right: 6%;
    top: 6%;
  }

  &.education {
    left: 6%;
    top: 6%;
  }

  &.information {
    bottom: 6%;
    right: 6%;
  }

}
