body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.dashed-line {
  stroke: black;
  stroke-dasharray: 4,4;
}

.label {
  font-size: 36px;
}

.graph-title {
  font-size: 64px;
}

.legend {
  font-size: 24px;
}

$page-width: 9933px;
$page-height: 7016px;

@mixin quarter-box {
  height: $page-height / 2.8;
  width: $page-width / 2.8;
  position: absolute;
}

.container {
  height: $page-height;
  position: relative;
  width: $page-width;
  overflow: hidden;
  background-color: #fff6e8;
}

.graph-main {
  height: $page-height * 1.5;
  width: $page-width * 1.5;
  position: absolute;
  top: -25%;
  left: -25%;
  display: none;
}

.graph {
  height: $page-height / 3;
  width: $page-width / 3;
  display: inline-block;
}

.graph-population {
  @include quarter-box;
  left: 6%;
  bottom: 6%;
}

.graph-GDP {
  @include quarter-box;
  right: 6%;
  top: 6%;
}

.graph-education {
  @include quarter-box;
  left: 6%;
  top: 6%;
}

.graph-information {
  @include quarter-box;
  bottom: 6%;
  right: 6%;
}
